<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>1</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>jueves</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>1</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>agosto</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>1</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>madre</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>1</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>mayu</string>
		</array>
		<key>enunciado</key>
		<string>mario</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>1</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>mayu</string>
		</array>
		<key>enunciado</key>
		<string>guadalupe</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>1</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>mayu</string>
		</array>
		<key>enunciado</key>
		<string>sierra madre</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>1</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>mayu</string>
		</array>
		<key>enunciado</key>
		<string>sierra nevada</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>4</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>oriente</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>4</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>poniente</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>4</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>oeste</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>4</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>norte</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>4</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>sur</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>8</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>primavera</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>8</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>verano</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>8</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>otoño</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>8</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>invierno</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>8</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>enero</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>8</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>febrero</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>8</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>marzo</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>8</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>abril</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>8</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>mayo</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>8</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>junio</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>8</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>julio</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>8</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>agosto</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>8</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>septiembre</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>8</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>octubre</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>8</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>noviembre</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>8</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>diciembre</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>8</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>lunes</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>8</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>martes</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>8</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>miércoles</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>8</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>viernes</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>8</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>sábado</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>8</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>domingo</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>mundial</string>
				<string>guerra</string>
				<string>primera</string>
				<string>la</string>
			</array>
			<array>
				<string>primera</string>
				<string>guerra</string>
				<string>mundial</string>
			</array>
			<array>
				<string>la</string>
				<string>guerra</string>
				<string>mundial</string>
			</array>
			<array>
				<string>la</string>
				<string>julio</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>8</integer>
		</array>
		<key>tipo</key>
		<integer>2</integer>
		<key>dificultad</key>
		<integer>2</integer>
		<key>respuesta</key>
		<array>
			<string>mundial</string>
			<string>guerra</string>
			<string>primera</string>
			<string>la</string>
		</array>
		<key>enunciado</key>
		<string>la primera guerra mundial inició el 28 de julio de 1914.</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>la</string>
				<string>nuevo</string>
				<string>león</string>
				<string>monterrey</string>
			</array>
			<array>
				<string>la</string>
				<string>capital</string>
				<string>nuevo</string>
			</array>
			<array>
				<string>nuevo</string>
				<string>león</string>
				<string>monterrey</string>
			</array>
			<array>
				<string>la</string>
				<string>capital</string>
				<string>nuevo</string>
				<string>león</string>
				<string>monterrey</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>2</integer>
			<integer>1</integer>
		</array>
		<key>tipo</key>
		<integer>2</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>la</string>
			<string>nuevo</string>
			<string>león</string>
			<string>monterrey</string>
		</array>
		<key>enunciado</key>
		<string>la capital de nuevo león es monterrey.</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>méxico</string>
			</array>
			<array>
				<string>méxico</string>
				<string>paisajes</string>
				<string>naturales</string>
			</array>
			<array>
				<string>diversidad</string>
				<string>paisajes</string>
				<string>naturales</string>
			</array>
			<array>
				<string>méxico</string>
				<string>naturales</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>1</integer>
		</array>
		<key>tipo</key>
		<integer>2</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>méxico</string>
		</array>
		<key>enunciado</key>
		<string>méxico tiene una gran diversidad de paisajes naturales</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>salud</string>
				<string>mundial</string>
				<string>organización</string>
				<string>la</string>
			</array>
			<array>
				<string>la</string>
				<string>salud</string>
				<string>vacunas</string>
			</array>
			<array>
				<string>la</string>
				<string>organización</string>
				<string>salud</string>
			</array>
			<array>
				<string>la</string>
				<string>organización</string>
				<string>mundial</string>
				<string>de</string>
				<string>la</string>
				<string>salud</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>5</integer>
			<integer>2</integer>
		</array>
		<key>tipo</key>
		<integer>2</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>salud</string>
			<string>mundial</string>
			<string>organización</string>
			<string>la</string>
		</array>
		<key>enunciado</key>
		<string>la organización mundial de la salud no ha avalado todas las vacunas.</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>https://docs.google.com</string>
				<string>la</string>
			</array>
			<array>
				<string>la</string>
				<string>dirección</string>
				<string>https://docs.google.com</string>
			</array>
			<array>
				<string>dirección</string>
				<string>https://docs.google.com</string>
			</array>
			<array>
				<string>la</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>2</integer>
			<integer>9</integer>
		</array>
		<key>tipo</key>
		<integer>2</integer>
		<key>dificultad</key>
		<integer>2</integer>
		<key>respuesta</key>
		<array>
			<string>la</string>
		</array>
		<key>enunciado</key>
		<string>la dirección es https://docs.google.com</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>oro</string>
				<string>siglo</string>
				<string>barca</string>
				<string>calderón</string>
			</array>
			<array>
				<string>calderón</string>
				<string>oro</string>
				<string>español</string>
			</array>
			<array>
				<string>calderón</string>
				<string>español</string>
			</array>
			<array>
				<string>calderón</string>
				<string>barca</string>
				<string>español</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>2</integer>
			<integer>1</integer>
		</array>
		<key>tipo</key>
		<integer>2</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>oro</string>
			<string>siglo</string>
			<string>barca</string>
			<string>calderón</string>
		</array>
		<key>enunciado</key>
		<string>calderón de la barca es un famoso escritor del siglo de oro español. </string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>la</string>
			</array>
			<array>
				<string>la</string>
				<string>barca</string>
			</array>
			<array>
				<string>la</string>
				<string>barca</string>
				<string>cruz</string>
				<string>olvido</string>
			</array>
			<array>
				<string>la</string>
				<string>cruz</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>2</integer>
		</array>
		<key>tipo</key>
		<integer>2</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>la</string>
		</array>
		<key>enunciado</key>
		<string>la barca en que me iré lleva una cruz de olvido.</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>el</string>
				<string>biden</string>
			</array>
			<array>
				<string>el </string>
				<string>embajadores</string>
				<string>biden</string>
			</array>
			<array>
				<string>el</string>
				<string>presidente</string>
				<string>biden</string>
				<string>embajadores</string>
			</array>
			<array>
				<string>el</string>
				<string>presidente</string>
				<string>mañana</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<key>tipo</key>
		<integer>2</integer>
		<key>dificultad</key>
		<integer>2</integer>
		<key>respuesta</key>
		<array>
			<string>el</string>
			<string>biden</string>
		</array>
		<key>enunciado</key>
		<string>el presidente biden recibirá a los embajadores el día de mañana.</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>el</string>
				<string>leal</string>
			</array>
			<array>
				<string>el </string>
				<string>doctor</string>
				<string>leal</string>
			</array>
			<array>
				<string>el</string>
				<string>doctor</string>
				<string>leal</string>
				<string>sábado</string>
			</array>
			<array>
				<string>el</string>
				<string>leal</string>
				<string>sábado</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>7</integer>
		</array>
		<key>tipo</key>
		<integer>2</integer>
		<key>dificultad</key>
		<integer>2</integer>
		<key>respuesta</key>
		<array>
			<string>el</string>
			<string>leal</string>
		</array>
		<key>enunciado</key>
		<string>el doctor leal verá al paciente el sábado</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>el</string>
				<string>dr.</string>
				<string>leal</string>
			</array>
			<array>
				<string>el </string>
				<string>dr.</string>
			</array>
			<array>
				<string>el</string>
				<string>dr.</string>
				<string>leal</string>
				<string>sábado</string>
			</array>
			<array>
				<string>el</string>
				<string>leal</string>
				<string>sábado</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>7</integer>
		</array>
		<key>tipo</key>
		<integer>2</integer>
		<key>dificultad</key>
		<integer>2</integer>
		<key>respuesta</key>
		<array>
			<string>el</string>
			<string>dr.</string>
			<string>leal</string>
		</array>
		<key>enunciado</key>
		<string>el dr. leal verá al paciente el sábado</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>llegó</string>
				<string>el (segundo)</string>
				<string>salvador</string>
			</array>
			<array>
				<string>el (segundo)</string>
				<string>salvador</string>
			</array>
			<array>
				<string>llegó</string>
				<string>el</string>
				<string>el</string>
				<string>salvador</string>
			</array>
			<array>
				<string>llegó</string>
				<string>el (primero)</string>
				<string>salvador</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<key>tipo</key>
		<integer>2</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>llegó</string>
			<string>el (segundo)</string>
			<string>salvador</string>
		</array>
		<key>enunciado</key>
		<string>llegó el visitante de el salvador.</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>la</string>
			</array>
			<array>
				<string>la</string>
				<string>península</string>
			</array>
			<array>
				<string>la</string>
				<string>itálica</string>
			</array>
			<array>
				<string>la</string>
				<string>península</string>
				<string>itálica</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>2</integer>
		</array>
		<key>tipo</key>
		<integer>2</integer>
		<key>dificultad</key>
		<integer>2</integer>
		<key>respuesta</key>
		<array>
			<string>la</string>
		</array>
		<key>enunciado</key>
		<string>la península itálica tiene forma de bota.</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>la</string>
				<string>yucatán</string>
			</array>
			<array>
				<string>la</string>
			</array>
			<array>
				<string>la</string>
				<string>península</string>
				<string>yucatán</string>
			</array>
			<array>
				<string>la</string>
				<string>península</string>
				<string>yucatán</string>
				<string>riquezas</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<key>tipo</key>
		<integer>2</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>la</string>
			<string>yucatán</string>
		</array>
		<key>enunciado</key>
		<string>la península de yucatán cuenta con riquezas naturales dignas de visitarse</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>don</string>
				<string>mario</string>
				<string>molina</string>
				<string>premio</string>
				<string>nobel</string>
				<string>química</string>
			</array>
			<array>
				<string>don</string>
				<string>mario</string>
				<string>molina</string>
				<string>nobel</string>
			</array>
			<array>
				<string>don</string>
				<string>mario</string>
				<string>molina</string>
				<string>premio</string>
				<string>nobel</string>
			</array>
			<array>
				<string>don</string>
				<string>mario</string>
				<string>premio</string>
				<string>nobel</string>
				<string>de</string>
				<string>química</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>11</integer>
		</array>
		<key>tipo</key>
		<integer>2</integer>
		<key>dificultad</key>
		<integer>2</integer>
		<key>respuesta</key>
		<array>
			<string>don</string>
			<string>mario</string>
			<string>molina</string>
			<string>premio</string>
			<string>nobel</string>
			<string>química</string>
		</array>
		<key>enunciado</key>
		<string>don mario molina fue un mexicano que ganó el premio nobel de química en 1995</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>la</string>
			</array>
			<array>
				<string>la</string>
				<string>premio</string>
				<string>nobel</string>
				<string>química</string>
			</array>
			<array>
				<string>la</string>
				<string>premio</string>
				<string>nobel</string>
			</array>
			<array>
				<string>la</string>
				<string>premio</string>
				<string>nobel</string>
				<string>química</string>
				<string>mexicano</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<key>tipo</key>
		<integer>2</integer>
		<key>dificultad</key>
		<integer>2</integer>
		<key>respuesta</key>
		<array>
			<string>la</string>
		</array>
		<key>enunciado</key>
		<string>la revista publicó una entrevista que hicieron al premio nobel de química mexicano.</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>la</string>
			</array>
			<array>
				<string>la</string>
				<string>oscar</string>
			</array>
			<array>
				<string>la</string>
				<string>actriz</string>
				<string>oscar</string>
			</array>
			<array>
				<string>la</string>
				<string>actriz</string>
				<string>oscar</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<key>tipo</key>
		<integer>2</integer>
		<key>dificultad</key>
		<integer>2</integer>
		<key>respuesta</key>
		<array>
			<string>la</string>
		</array>
		<key>enunciado</key>
		<string>la actriz posó junto a su oscar.</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>el</string>
				<string>el</string>
				<string>norte</string>
				<string>monterrey</string>
			</array>
			<array>
				<string>el (primero)</string>
				<string>monterrey</string>
			</array>
			<array>
				<string>el (primero)</string>
				<string>norte</string>
				<string>monterrey</string>
			</array>
			<array>
				<string>el</string>
				<string>el</string>
				<string>norte</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>12</integer>
		</array>
		<key>tipo</key>
		<integer>2</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>el</string>
			<string>el</string>
			<string>norte</string>
			<string>monterrey</string>
		</array>
		<key>enunciado</key>
		<string>el periódico el norte es originario de monterrey</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>cuáles</string>
				<string>europa</string>
				<string>este</string>
			</array>
			<array>
				<string>cuáles</string>
				<string>europa</string>
			</array>
			<array>
				<string>cuáles</string>
				<string>europa</string>
				<string>del</string>
				<string>este</string>
			</array>
			<array>
				<string>cuáles</string>
				<string>del</string>
				<string>este</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>12</integer>
		</array>
		<key>tipo</key>
		<integer>2</integer>
		<key>dificultad</key>
		<integer>2</integer>
		<key>respuesta</key>
		<array>
			<string>cuáles</string>
			<string>europa</string>
			<string>este</string>
		</array>
		<key>enunciado</key>
		<string>¿cuáles son los países que conforman europa del este?</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>no se necesita mayúscula</string>
			</array>
			<array>
				<string>porque</string>
				<string>cielito</string>
				<string>lindo</string>
			</array>
			<array>
				<string>cielito</string>
				<string>lindo</string>
			</array>
			<array>
				<string>porque</string>
				<string>cielito</string>
				<string>lindo</string>
				<string>corazones</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>5</integer>
		</array>
		<key>tipo</key>
		<integer>2</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>no se necesita mayúscula</string>
		</array>
		<key>enunciado</key>
		<string>&quot;... porque cantando se alegran, cielito lindo, los corazones&quot;</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>no se necesita mayúscula</string>
			</array>
			<array>
				<string>receta</string>
				<string>buena</string>
				<string>cocina</string>
			</array>
			<array>
				<string>100</string>
				<string>recetas</string>
			</array>
			<array>
				<string>recetas</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>6</integer>
		</array>
		<key>tipo</key>
		<integer>2</integer>
		<key>dificultad</key>
		<integer>2</integer>
		<key>respuesta</key>
		<array>
			<string>no se necesita mayúscula</string>
		</array>
		<key>enunciado</key>
		<string>100 recetas de la buena cocina</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>no se necesita mayúscula</string>
			</array>
			<array>
				<string>que (primero)</string>
			</array>
			<array>
				<string>que (primero)</string>
				<string>dormido</string>
			</array>
			<array>
				<string>que (primero)</string>
				<string>me</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>5</integer>
		</array>
		<key>tipo</key>
		<integer>2</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>no se necesita mayúscula</string>
		</array>
		<key>enunciado</key>
		<string>&quot;... que digan que estoy dormido y que me traigan aquí&quot;</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>la (primera)</string>
			</array>
			<array>
				<string>la (primera)</string>
				<string>https://dle.rae.es/diccionario</string>
			</array>
			<array>
				<string>la (primera)</string>
				<string>favoritos</string>
			</array>
			<array>
				<string>la (primera)</string>
				<string>lista</string>
				<string>favoritos</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>2</integer>
			<integer>9</integer>
		</array>
		<key>tipo</key>
		<integer>2</integer>
		<key>dificultad</key>
		<integer>2</integer>
		<key>respuesta</key>
		<array>
			<string>la (primera)</string>
		</array>
		<key>enunciado</key>
		<string>la dirección https://dle.rae.es/diccionario está en la lista de favoritos</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>por</string>
			</array>
			<array>
				<string>w</string>
				<string>por</string>
			</array>
			<array>
				<string>por</string>
				<string>tienda</string>
			</array>
			<array>
				<string>tienda</string>
				<string>foco</string>
				<string>w</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>12</integer>
			<integer>1</integer>
		</array>
		<key>tipo</key>
		<integer>2</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>w</string>
			<string>por</string>
		</array>
		<key>enunciado</key>
		<string>por favor me traes de la tienda un foco de 20 w.</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>estimada</string>
			</array>
			<array>
				<string>alicia</string>
				<string>espero</string>
			</array>
			<array>
				<string>estimada</string>
				<string>alicia</string>
			</array>
			<array>
				<string>espero</string>
				<string>alicia</string>
				<string>estimada</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>3</integer>
			<integer>2</integer>
			<integer>1</integer>
		</array>
		<key>tipo</key>
		<integer>2</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>espero</string>
			<string>alicia</string>
			<string>estimada</string>
		</array>
		<key>enunciado</key>
		<string>estimada alicia:  espero que te encuentres muy bien.</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>no</string>
			</array>
			<array>
				<string>no</string>
				<string>frío</string>
			</array>
			<array>
				<string>está</string>
				<string>no</string>
			</array>
			<array>
				<string>está</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>2</integer>
			<integer>14</integer>
		</array>
		<key>tipo</key>
		<integer>2</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>está</string>
			<string>no</string>
		</array>
		<key>enunciado</key>
		<string>¿no tienes frío? ¡está helando!</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>me</string>
			</array>
			<array>
				<string>me</string>
				<string>por</string>
			</array>
			<array>
				<string>daniel</string>
				<string>me</string>
			</array>
			<array>
				<string>daniel</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>1</integer>
		</array>
		<key>tipo</key>
		<integer>2</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>daniel</string>
		</array>
		<key>enunciado</key>
		<string>daniel, ¿me puedes traer cinco manzanas, por favor?</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>este</string>
			</array>
			<array>
				<string>este</string>
				<string>advertencia</string>
			</array>
			<array>
				<string>advertencia</string>
				<string>medicamento</string>
			</array>
			<array>
				<string>advertencia</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>13</integer>
			<integer>2</integer>
		</array>
		<key>tipo</key>
		<integer>2</integer>
		<key>dificultad</key>
		<integer>2</integer>
		<key>respuesta</key>
		<array>
			<string>este</string>
			<string>advertencia</string>
		</array>
		<key>enunciado</key>
		<string>advertencia: este medicamento debe mantenerse en refrigeración.</string>
	</dict>
</array>
</plist>
