<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>1</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>jueves</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>1</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>agosto</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>1</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>min</string>
		</array>
		<key>enunciado</key>
		<string>madre</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>1</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>mayu</string>
		</array>
		<key>enunciado</key>
		<string>mario</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array/>
		<key>normas</key>
		<array>
			<integer>1</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>1</integer>
		<key>respuesta</key>
		<array>
			<string>mayu</string>
		</array>
		<key>enunciado</key>
		<string>guadalupe</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>mundial</string>
				<string>guerra</string>
				<string>primera</string>
				<string>la</string>
			</array>
			<array>
				<string>primera</string>
				<string>guerra</string>
				<string>mundial</string>
			</array>
			<array>
				<string>la</string>
				<string>guerra</string>
				<string>mundial</string>
			</array>
			<array>
				<string>la</string>
				<string>julio</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>8</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>2</integer>
		<key>respuesta</key>
		<array>
			<string>mundial</string>
			<string>guerra</string>
			<string>primera</string>
			<string>la</string>
		</array>
		<key>enunciado</key>
		<string>la primera guerra mundial inició el 28 de julio de 1914.</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>monterrey</string>
				<string>leon</string>
				<string>nuevo</string>
				<string>la</string>
			</array>
			<array>
				<string>la</string>
				<string>capital</string>
				<string>nuevo</string>
			</array>
			<array>
				<string>nuevo</string>
				<string>león</string>
				<string>monterrey</string>
			</array>
			<array>
				<string>la</string>
				<string>capital</string>
				<string>nuevo</string>
				<string>león</string>
				<string>monterrey</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>2</integer>
			<integer>1</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>2</integer>
		<key>respuesta</key>
		<array>
			<string>monterrey</string>
			<string>leon</string>
			<string>nuevo</string>
			<string>la</string>
		</array>
		<key>enunciado</key>
		<string>la capital de nuevo león es monterrey.</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>méxico</string>
			</array>
			<array>
				<string>méxico</string>
				<string>paisajes</string>
				<string>naturales</string>
			</array>
			<array>
				<string>diversidad</string>
				<string>paisajes</string>
				<string>naturales</string>
			</array>
			<array>
				<string>méxico</string>
				<string>naturales</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>1</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>2</integer>
		<key>respuesta</key>
		<array>
			<string>méxico</string>
		</array>
		<key>enunciado</key>
		<string>méxico tiene una gran diversidad de paisajes naturales</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>salud</string>
				<string>mundial</string>
				<string>organización</string>
				<string>la</string>
			</array>
			<array>
				<string>la</string>
				<string>salud</string>
				<string>vacunas</string>
			</array>
			<array>
				<string>la</string>
				<string>organización</string>
				<string>salud</string>
			</array>
			<array>
				<string>la</string>
				<string>organización</string>
				<string>mundial</string>
				<string>de</string>
				<string>la</string>
				<string>salud</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>5</integer>
			<integer>2</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>2</integer>
		<key>respuesta</key>
		<array>
			<string>salud</string>
			<string>mundial</string>
			<string>organización</string>
			<string>la</string>
		</array>
		<key>enunciado</key>
		<string>la organización mundial de la salud no ha avalado todas las vacunas.</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>https://docs.google.com</string>
				<string>la</string>
			</array>
			<array>
				<string>la</string>
				<string>dirección</string>
				<string>https://docs.google.com</string>
			</array>
			<array>
				<string>dirección</string>
				<string>https://docs.google.com</string>
			</array>
			<array>
				<string>la</string>
				<string>dirección</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>2</integer>
			<integer>9</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>2</integer>
		<key>respuesta</key>
		<array>
			<string>https://docs.google.com</string>
			<string>la</string>
		</array>
		<key>enunciado</key>
		<string>la dirección es https://docs.google.com</string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>oro</string>
				<string>siglo</string>
				<string>barca</string>
				<string>calderón</string>
			</array>
			<array>
				<string>calderón</string>
				<string>oro</string>
				<string>español</string>
			</array>
			<array>
				<string>calderón</string>
				<string>español</string>
			</array>
			<array>
				<string>calderón</string>
				<string>barca</string>
				<string>español</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>2</integer>
			<integer>1</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>2</integer>
		<key>respuesta</key>
		<array>
			<string>oro</string>
			<string>siglo</string>
			<string>barca</string>
			<string>calderón</string>
		</array>
		<key>enunciado</key>
		<string>calderón de la barca es un famoso escritor del siglo de oro español. </string>
	</dict>
	<dict>
		<key>opciones</key>
		<array>
			<array>
				<string>la</string>
			</array>
			<array>
				<string>la</string>
				<string>barca</string>
			</array>
			<array>
				<string>la</string>
				<string>barca</string>
				<string>cruz</string>
				<string>olvido</string>
			</array>
			<array>
				<string>la</string>
				<string>cruz</string>
			</array>
		</array>
		<key>normas</key>
		<array>
			<integer>2</integer>
		</array>
		<key>tipo</key>
		<integer>1</integer>
		<key>dificultad</key>
		<integer>2</integer>
		<key>respuesta</key>
		<array>
			<string>la</string>
		</array>
		<key>enunciado</key>
		<string>la barca en que me iré lleva una cruz de olvido.</string>
	</dict>
</array>
</plist>
